<%= html :div, role: 'alert', class: css('alert') do %>
  <% if title.present? && description.present? %>

    <% if icon.present? %>
      <%= icon %>
    <% end %>

    <div>
      <h3 class="font-bold">
        <%= title %>
      </h3>
      <div class="text-xs">
        <%= description %>
      </div>
    </div>

    <% unless icon.present? %>
      <div></div>
    <% end %>

    <div>
      <% buttons.each do |button| %>
        <%= button %>
      <% end %>
    </div>
  <% else %>
    <%= content %>
    <div>
      <% buttons.each do |button| %>
        <%= button %>
      <% end %>
    </div>
  <% end %>
<% end %>
