<%= component :card do |card| %>
  <%= card.with_image do %>
    <img src="https://placehold.co/600x400" alt="Album"/>
  <% end %>
  <%= card.with_card_body do |card_body| %>
    <%= card_body.with_title do %>
      Shoes!
      <%= component :badge, class: 'badge-secondary' do %>
        NEW
      <% end %>
    <% end %>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <%= card_body.with_card_actions class: "justify-end" do |actions| %>
      <div class="my-auto">
        <%= actions.with_badge do %>
          $19.99
        <% end %>
      </div>
      <%= actions.with_button class: "btn-primary" do %>
        Buy now
      <% end %>
    <% end %>
  <% end %>
<% end %>
